.nobull {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;    
    align-items: flex-start;
    overflow: hidden;
    overflow-y: scroll ;
    height: 600px;
    width: 20%;
    position: relative;
    bottom: 600px;
    border-color: black;
}






.popupContent {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.popupContent h4{
    display: flex;
    
}


.label {
    margin: 0;



}

.flex {
    display: flex;
    justify-content: flex-start;
}


