header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 1px 10px gray;
    
}

#nav-title {
    margin-right: auto;
    font-size: 1.5em;
    color: white;
    background-color: black;
    display: flex;
    justify-content: flex-start;
    
    
}



header li {
    list-style: none;
    display: inline-block;
    padding: 0 30px;
    font-size: 1.2em;


}

